.footer{
    padding: 1.5rem 2rem;
    .socials__link{
        width: 2rem;
        height: 2rem;
        margin-right: 0.7rem;
        fill: white;
        &:last-child{
            margin-right: 0;
        }
    }
    @media (min-width: 768px){
        @include flex-settings(row, space-between, center);
    }
}
.footer__legacy-text{
    font-size: 1.1rem;
    font-family: $secondary-font-family;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    @media (min-width: 768px){
        margin-bottom: 0;
    }
}